div#navigation01{
  background-color: var(--alert-color);
  padding: 10px 0px;
  width: 100vw; 
}

div#navigation02{
  padding: 10px 0px;
  width: 100vw;
  background-color: rgb(255, 245, 224);
}

#secondMenu li{
  padding: 0px 7px;
}

#main-area{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 0px !important;
}

#contentContainer > div {
  padding: 0px 50px;
}

div#mainContent{
  width: 100vw;
}

div#content01 {
  background-color: lightyellow;
}

div#footer01 {
  background-color: var(--alert-color);
}

/* this are for the public website staging (staging.extendedlearning and dev-54... */
header#ubc7-header {
  background-color: yellow !important;
}

/* this is for the public view test (ubctestpv) */
div#header1Wrapper {
  background-color: yellow !important;
}